.panda-bg-info{
    background-color: #fceae8;
}
.watch-bg-primary{
background-color: #ffa500;
}
.shoes-bg-danger{
background-color: #da70d6;
}
.bag-bg-secondary{
background-color: #0000ff;
}
.last-bg-info{
    background-color: #fceae8;
}
